
.form{
    margin-top: 4em;
}
@media (min-width : 1200px) {
    .form {
        width: 70%;
    }
}
#bt1{
    margin: 2em 0;
    width: 100%;
    height: 45px;
    color: #fff;
    background-color: rgb(41, 170, 41);
}
@media (min-width : 900px) {
  #bt1{
    width: 50%;
    position: relative;
  }
}