.banner-wrapper{
    background-image: url('https://justclick-backend-statics.s3.amazonaws.com/fe-statics/networking.jpg');
    height: 70vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-overlay{
    height: 70vh;
    background-color: rgba(63, 62, 62,.4);
}

.inner{
    text-align: start;
    width: 50%;
}
.banner-header h1 {
    color: rgb(104, 252, 104);
}

.banner-header h3 {
    color: #fff;
}